<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="import_header(title, links)">
    <meta charset="UTF-8"/>
    <meta name="x-frame-options" content="allowall" />
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/3.3.6/css/bootstrap-theme.min.css}"/>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/3.3.6/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/webjars/Eonasdan-bootstrap-datetimepicker/4.17.37-1/css/bootstrap-datetimepicker.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/header.css}"/>
    <th:block th:replace="${links}"/>


    <!-- additional assets from paper design-->

    <link rel="apple-touch-icon" sizes="76x76" href="../../assets/img/apple-icon.png">
    <link rel="icon" type="image/png" sizes="96x96" href="../../assets/img/favicon.png">

    <!--  Paper Dashboard core CSS    -->
    <link href="../../assets/css/paper-dashboard.css" rel="stylesheet"/>

    <!--  Fonts and icons     -->
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Muli:400,300' rel='stylesheet' type='text/css'>
    <link href="../../assets/css/themify-icons.css" rel="stylesheet">


    <!-- additional assets from paper design-->


    <title th:replace="${title}">The awesome application</title>
</head>
<body>
<th:block th:fragment="import_script(script)">
    <script th:src="@{/webjars/jquery/2.2.2/jquery.min.js}"></script>
    <script th:src="@{/js/modernizr.js/modernizr.js}"></script>
    <script th:src="@{/webjars/momentjs/2.14.1/min/moment-with-locales.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/3.3.6/js/bootstrap.min.js}"></script>
    <script th:src="@{/webjars/Eonasdan-bootstrap-datetimepicker/4.17.37-1/js/bootstrap-datetimepicker.min.js}"></script>
    <script th:src="@{/js/form-validator/validator.min.js}"></script>
    <script th:src="@{/js/common-function.js}"></script>
    <th:block th:replace="${script}"/>

    <!-- additional assets from paper design-->
    <!-- Женя не бей todo-->

    <!--  Forms Validations Plugin -->
    <script src="../../assets/js/jquery.validate.min.js"></script>

    <!--  Plugin for Date Time Picker and Full Calendar Plugin-->
    <script src="../../assets/js/moment.min.js"></script>

    <!--  Date Time Picker Plugin is included in this js file -->
    <script src="../../assets/js/bootstrap-datetimepicker.js"></script>

    <!--  Select Picker Plugin -->
    <script src="../../assets/js/bootstrap-selectpicker.js"></script>

    <!--  Checkbox, Radio, Switch and Tags Input Plugins -->
    <script src="../../assets/js/bootstrap-checkbox-radio-switch-tags.js"></script>

    <!-- Circle Percentage-chart -->
    <script src="../../assets/js/jquery.easypiechart.min.js"></script>

    <!--  Charts Plugin -->
    <script src="../../assets/js/chartist.min.js"></script>

    <!--  Notifications Plugin    -->
    <script src="../../assets/js/bootstrap-notify.js"></script>

    <!-- Sweet Alert 2 plugin -->
    <script src="../../assets/js/sweetalert2.js"></script>

    <!-- Vector Map plugin -->
    <script src="../../assets/js/jquery-jvectormap.js"></script>

    <!--  Google Maps Plugin    -->
    <script src="https://maps.googleapis.com/maps/api/js"></script>

    <!-- Wizard Plugin    -->
    <script src="../../assets/js/jquery.bootstrap.wizard.min.js"></script>

    <!--  Bootstrap Table Plugin    -->
    <script src="../../assets/js/bootstrap-table.js"></script>

    <!--  Plugin for DataTables.net  -->
    <script src="../../assets/js/jquery.datatables.js"></script>

    <!--  Full Calendar Plugin    -->
    <script src="../../assets/js/fullcalendar.min.js"></script>

    <!-- Женя не бей todo-->
    <!-- additional assets from paper design-->

</th:block>
</body>
</html>
