<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragment/imports :: import_header(~{::title},~{::link})}">
    <title>Рабочий стол</title>
    <link rel="stylesheet" th:href="@{/css/fullcalendar.min.css}">
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
    <!--Женя не бей -->
    <link rel='stylesheet prefetch' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css'>
    <link rel='stylesheet prefetch'
          href='http://cdnjs.cloudflare.com/ajax/libs/jquery.bootstrapvalidator/0.5.0/css/bootstrapValidator.min.css'>
    <link rel='stylesheet prefetch'
          href='http://rawgit.com/vitalets/x-editable/master/dist/bootstrap3-editable/css/bootstrap-editable.css'>
    <link rel='stylesheet prefetch'
          href='http://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.10.0/bootstrap-table.min.css'>
    <!--Женя не бей -->
</head>
<body>
<th:block th:include="~{fragment/imports :: import_script(~{::script})}">

    <!--Женя не бей  2-->
    <script src='http://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.10.0/bootstrap-table.js'></script>
    <script src='http://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.9.1/extensions/editable/bootstrap-table-editable.js'></script>
    <script src='http://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.9.1/extensions/export/bootstrap-table-export.js'></script>
    <script src='http://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.9.1/extensions/filter-control/bootstrap-table-filter-control.js'></script>
    <!--Женя не бей 2-->
    <script th:src="@{/js/reporting/reports.js}"></script>

</th:block>
<div th:include="header"></div>
<div class="container">
    <div class="row">
        <div class="col-md-4 top-buffer">
            <div class="row" th:fragment="menu">
                <form class="well form-horizontal" action="" method="post">
                    <div class="panel panel-default panel-table">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col col-xs-6">
                                    <h3 class="panel-title">Отчеты</h3>
                                </div>
                            </div>
                        </div>
                        <div class="panel-body">
                            <ul>
                                <li id="balance-training-item">
                                    <a th:href="@{/reporting/balance-training/view}">
                                        Отчет по балансу тренировок
                                    </a>
                                </li>
                                <li id="sold-subscriptions-item">
                                    <a th:href="@{/reporting/sold-subscriptions/view}">
                                        Отчет по продажам
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="panel-body col-md-8">
            <div>
                <table id="table"></table>
            </div>
        </div>
    </div>
</div>
<!-- /.container -->
</body>
</html>
